click==6.7
cycler==0.10.0
dill==0.2.6
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
matplotlib==2.0.0
mypy==0.470
numpy==1.12.0
pandas==0.19.2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
typed-ast==0.6.3
typing==3.5.3.0
Werkzeug==0.11.15
xgboost==0.6
